<h1>Listing logs</h1>

<table>
  <tr>
    <th>host</th>
    <th>path</th>
    <th>response_time</th>
  </tr>

<% @develop.each do |log| %>
  <tr>
    <td><%= log.host %></td>
    <td><%= log.path %></td>
    <td><%= log.response_time %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log', new_log_path %>
